/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

h1,
h2,
h3{
    font-family: "Montserrat", serif;
    font-weight: 400;
  }

/* Hero Section Styles */
.hero {
    background: linear-gradient(to right, #333333, #9b1c1c);
    color: white;
    height: auto;
    padding: 40px;
    text-align: left;
    border-bottom: 2px solid #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.hero-content {
    flex: 1;
    max-width: 50%;
    margin-left: 80px;
}

.hero-content h1 {
    font-size: 3rem;
    font-weight: 700;
    margin: 40px auto 40px auto;
    text-align: left;
}

.hero-content p {
    font-size: 1.25rem;
    margin-bottom: 20px;
    max-width: 90%;
    line-height: 1.8;
}

.hero-content h2 {
    font-size: 2rem;
    margin: 20px;
}

.hero-btn {
    flex-shrink: 0;
    display: flex;
    justify-content: flex-start;
    margin-right: 80px;
}

.hero-btn button {
    background-color: #ff4000;
    color: #f9f9f9;
    border: none;
    padding: 15px 25px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    margin: 20px;
    display: inline-block;
}

.hero-btn button:hover {
    background-color: #ff6600;
    color: #f9f9f9;
    border: none;
}


/* Why Rutvik Section Styles */
.why-rutvik {
    padding: 60px 10px;
    background-color: #ffffff;
}

.why-rutvik h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
    text-align: center;
    font-weight: 600;
}

.why-rutvik .row {
    margin-bottom: 30px;
}

.why-rutvik .col-md-6 {
    margin-bottom: 20px;
}

.why-rutvik .col-md-6 h3 {
    font-size: 1.8rem;
    margin-bottom: 30px;
    margin-top: 50px;
    color: #333;
}

.why-rutvik .col-md-6 p {
    font-size: 1.1rem;
    line-height: 1.8;
    color: #555;
    text-align: justify;
    margin: 0 10px;
    word-spacing: normal;
}

/* Call to Action Section Styles */
.cta {
    background: linear-gradient(to right, #333333, #9b1c1c);
    color: #ffffff;
    padding: 80px 40px;
}

.cta h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: 700;
    text-align: center;
    line-height: 1.6;
}

.cta p {
    font-size: 1.2rem;
    margin: 50px auto 40px auto;
}

.cta p a {
    font-size: 1.2rem;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

.cta p a:hover {
    color: #ff6600;
    text-decoration: none;
}

.cta button {
    background-color: #ff4000;
    color: #f9f9f9;
    border: none;
    padding: 15px 25px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
}

.cta button:hover {
    background-color: #ff6600;
    color: #f9f9f9;
    border: none;
}


/* Footer Section Styles */
.footer {
    background: linear-gradient(to right, #333333, #9b1c1c);
    color: white;
    padding: 30px 10px 10px 10px;
    font-size: 0.7rem;
}

/* Responsive Styles for Mobile and Tablet */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        justify-content: center;
        height: auto;
        padding: 20px;
    }

    .hero-content {
        text-align: center;
        padding: 20px;
        width: 100%;
        max-width: 100%;
        margin-left: 0;
    }

    .hero a {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .hero-btn {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 20px auto;
        margin-right: 0;
    }

    .hero-content h1 {
        font-size: 2.5rem;
        font-weight: 700;
        text-align: center;
    }

    .hero-content p {
        font-size: 1rem;
        max-width: 90%;
        margin: 0 auto;
    }

    .why-rutvik .col-md-6 h3 {
        font-size: 1.5rem;
        text-align: center;
    }
    
    .why-rutvik h2 {
        font-size: 2rem;
    }

    .why-rutvik .col-md-6 p {
        text-align: center;
        word-spacing: normal;
        max-width: 95%;
        margin: 0 auto;
    }

    .cta h3 {
        font-size: 1.8rem;
    }

    .cta p {
        font-size: 1.1rem;
    }

    .cta button, .hero-btn button {
        font-size: 1rem;
        padding: 10px 20px;
    }

    .cta a {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .btn-lg {
        width: 90% !important;
    }
}